a:hover,
a:active {
  color: rgb(0, 182, 240);
}

a {
  color: #a0a0a0;
  text-decoration: none;
}

body {
  background-color: rgba(35, 35, 35, 1);
  color: #f0f0f0;
}

.pure-form legend {
  color: #f0f0f0;
}

.pure-menu-heading {
  color: #f0f0f0;
}

.pure-form > fieldset > input,
.pure-control-group > input,
.pure-form > fieldset > select,
.pure-control-group > select {
  color: rgba(35, 35, 35, 1);
}

.pure-form input[type="file"] {
  color: #f0f0f0;
}

.navbar > .searchbar input {
  background-color: inherit;
  color: inherit;
}
