{% macro render_pagination(pagination) %}
  <div class=pagination>
<center><h3>
  {% if pagination.has_prev %} 
    <strong><a href="{{ url_for_other_page(pagination.page - 1)
      }}">&lt;&lt;</a></strong>&nbsp;&nbsp;&nbsp;
  {% endif %}
    {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>

      {% elif page == 1 and not pagination.has_next %} 
        
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <strong>&nbsp;&nbsp;&nbsp;<a href="{{ url_for_other_page(pagination.page + 1)
      }}">&gt;&gt;</a></strong>
  {% endif %}
</center></h3>
{% endmacro %}

{% macro render_pagination_search(pagination) %}
  <div class=pagination>
<center><h3>
  {% if pagination.has_prev %} 
    <strong><a href="{{ url_for_other_page(pagination.page - 1)
      }}">&lt;&lt;</a></strong>&nbsp;&nbsp;&nbsp;
  {% endif %}
    {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}?q=duke">{{ page }}</a>

      {% elif page == 1 and not pagination.has_next %} 
        
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <strong>&nbsp;&nbsp;&nbsp;<a href="{{ url_for_other_page(pagination.page + 1)
      }}">&gt;&gt;</a></strong>
  {% endif %}
</center></h3>
{% endmacro %}



