{% extends 'base.html' %}

{% block head %}

{#
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@altcensored">
<meta name="twitter:title" content="{{ channel['ytc_title'] ~ ' Channel ' ~ '(' ~ channel['limited'] ~' Limited Videos' ~ ')' }}">
<meta name="twitter:description" content="{{ channel['ytc_description'] | safe | nl2br | truncate (140) }}">


<meta property="og:site_name" content="{{ config['MYSERVER_NAME'] }}">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['ytc_id'] }}">
<meta property="og:title" content="{{ channel['ytc_title'] }}">
<meta property="og:image" content="{{ channel['ytc_thumbnailurl'] | replace('88','176')  }}">
<meta property="og:type" content="article">

<meta name="altcen_title" content="{% block title %}{{ channel['ytc_title'] | striptags | truncate(length=56,killwords=False,end='',leeway=0) }}{% endblock %}">
<meta name="altcen_meta_description" content="{% block description %}Limited Censored YouTube Video Channel {{ channel['ytc_title'] }}: {{ channel['ytc_description'] }} (Created on {{ channel['ytc_publishedat'].strftime('%b %e, %G') }}){% endblock %}">
#}

{% endblock %}

{% block content %}
    {% with active_nav='category' %}
        {% include "widgets/navtabs.html" %}
    {% endwith %}
    <br>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24">
            <div class="pure-g h-box">
                <div class="pure-u-16-24">
                    <div class="pure-u-1 pure-md-1-3">
                    </div>
                    <div class="pure-u-1 pure-md-1-3">
                        <b>{{ category['cat_name'] }}</b>
                    </div>
                    <div class="pure-u-1 pure-md-1-3">
                        <i class="{{ category['cat_image'] }}"  style="font-size: 24px"></i>
                        <b>{{ category['cat_count']|commafy }}</b>
                    </div>
                </div>
                <div class="pure-u-8-24" style="text-align:right;">
                    <div class="pure-u-1 pure-md-1-3">
                        <a href="{{ url_for('category.item', cat_id=category['cat_id']) }}" class="pure-menu-item {{'selected' if order == 'latest' }}">
                            {{ gettext('latest') }}</a>
                    </div>
                    <div class="pure-u-1 pure-md-1-3">
                        <a href="{{ url_for('category.item_new', cat_id=category['cat_id']) }}"  class="pure-menu-item {{'selected' if order == 'newest' }}">
                            {{ gettext('newest') }}</a>
                    </div>
                    <div class="pure-u-1 pure-md-1-3">
                        <a href="{{ url_for('category.item_popular', cat_id=category['cat_id']) }}"  class="pure-menu-item {{'selected' if order == 'popular' }}">
                            {{ gettext('popular') }}</a>
                    </div>
                </div>
            </div>
            <div class="h-box">
                <hr>
            </div>
        </div>
    </div>

    {% with video=video, watchlater=watchlater %}
        {% include "widgets/videos.html" %}
    {% endwith %}

    {% if pagination %}
      {% with pagination=pagination %}
          {% include "widgets/pagination.html" %}
      {% endwith %}
    {% endif %}

{% endblock %}