
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
    <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g h-box">
            <div class="pure-u-16-24">
                <div class="pure-u-1 pure-md-1-1">
                    {% if session.user and session.user.id == playlist.user_id %}
                        <a href="{{ url_for('user.playlist') }}">
                            <i class='ion-md-list'  style="font-size: 24px"></i></a>
                        </a><b>{{ playlist.title }}</b>
                    {% else %}
                        <i class='ion-md-list'  style="font-size: 24px"></i>
                        <b>{{ playlist.title }}</b>
                    {% endif %}
                    <br>
                    <br>
                </div>
            </div>
            <div class="pure-u-8-24">
                <div class="pure-u-1 pure-md-1-1" style="text-align:right">
                    {% if session.user and session.user.id == playlist.user_id %}
                        <a href="{{ url_for('playlist.edit', playlist=playlist.id, original_url=current_url ) }}">
                            <i class='ion-md-create' style="font-size: 24px"></i></a>&nbsp;&nbsp;
                        <a href="{{ url_for('playlist.delete', playlist=playlist.id, original_url=current_url ) }}">
                            <i class='ion-md-trash' style="font-size: 24px"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="pure-u-16-24">
                <div class="pure-u-1 pure-md-1-1">
                    {{ playlist.description }}
                    <p></p>
                </div>
            </div>
            <div class="pure-u-8-24">
                <div class="pure-u-1 pure-md-1-1" style="text-align:right">
                    {% if session.user and button and (session.user.id == playlist.user_id) %}
                        <a href="{{ url_for('playlist.item', playlist=playlist.hashid, original_url=current_url ) }}">
                            <i class='ion-md-remove' style="font-size: 24px"></i></a>
                    {% elif session.user and (session.user.id == playlist.user_id) %}
                        <a href="{{ url_for('playlist.item', playlist=playlist.hashid, original_url=current_url, button='add_video' ) }}">
                            <i class='ion-md-add-circle-outline' style="font-size: 24px"></i>
                            <i class='ion-logo-youtube'  style="font-size: 20px"></i></a>
                    {% endif %}
                </div>
            </div>
            <p></p>
            <div class="pure-u-1-1">
                <div class="pure-u-1 pure-md-1-1">
                    <i class='ion-logo-youtube' style="font-size: 20px"></i>
                    <b>{{ videocount }}</b>
                    <b>|</b>
                    <i class='ion-md-eye'  style="font-size: 20px"></i>
                    <b>{{ playlist.view_counter }}</b>
                    <b>|</b>
                    <i class='ion-md-create'  style="font-size: 20px"></i>
                    <b>{{ timediff }}</b>
                    {% if session.user and session.user.id == playlist.user_id %}
                        {% if playlist.public  %}
                            <b>|</b>
                            <i class='ion-md-globe'  style="font-size: 20px"></i>
                            <b>{{ gettext('Public') }}</b>
                        {% else %}
                            <b>|</b>
                            <i class='ion-md-lock'  style="font-size: 20px"></i>
                            <b>Private</b>
                        {% endif %}
                    {% else %}
                        <b>|</b>
                        <i class='ion-ios-contact'  style="font-size: 20px"></i>
                        {% if playlist.user.public %}
                            <a href="{{ url_for('user.item', username=playlist.user.username) }}">
                                <b>{{ playlist.user.username }}</b></a>
                        {%  else %}
                            <b>{{ playlist.user.username }}</b>
                        {% endif %}
                    {% endif %}
                    <br>
                </div>
            </div>

        </div>
        <div class="h-box">
            {% if button %}
                <style>
                    form { display: inline-block; //Or display: inline;}
                </style>
                <p><form action="{{ url_for('user.history', playlist=playlist.hashid, original_url=current_url ) }}" >
                    <button class="pure-button" type="submit" name="playlist" value= {{ playlist.hashid }}>
                        <i class='ion-md-done-all'  style="font-size: 24px"></i>
                        {{ gettext('History') }}
                    </button>
                </form>
                <form action="{{ url_for('user.watchlater', playlist=playlist.hashid, original_url=current_url ) }}">
                    <button class="pure-button" type="submit" name="playlist" value= {{ playlist.hashid }}>
                        <i class='ion-md-time'  style="font-size: 24px"></i>
                        {{ gettext('WatchLater') }}
                    </button>
                </form></p>

                <form class="pure-form" action="{{ url_for('video.search') }}" method="get">
                  <fieldset>
                    <input type="search" style="width:100%;" name="q" placeholder="{{ gettext('search') }}" results=5
                           id=mySearch required value="">
                    <input type="hidden" id="playlist" name="playlist" value={{ playlist.hashid }}>
                  </fieldset>
                </form>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
