{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}

{% with active_nav='about' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
            <p>
              <a href="{{ url_for('admin.channel_table') }}">
                  Channels</a>
            </p>
            <p>
              <a href="{{ url_for('admin.video_table', ytc_id='all' ) }}">
                  Videos</a>
            </p>
            <p>
              <a href="{{ url_for('admin.mass_email') }}">
                  Send Mass Email</a>
            </p>
            <p>
              <a href="{{ url_for('admin.update_bounce') }}">
                  Upload Bounce File</a>
            </p>
            <p>
              <a href="{{ url_for('admin.add_email_list') }}">
                  Upload Email List File</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>



<p></p>
{% endblock %}